  body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .main {
            text-align: center;
            width: 100%;
            max-width: 500px;
            padding: 30px;
            border: 2px solid black;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .code-container {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: 20px;
        }

        .code {
            width: 50px;
            height: 50px;
            font-size: 24px;
            text-align: center;
            border: 1px solid white;
            border-radius: 5px;
            outline: none;
            transition: border-color 0.3s, box-shadow 0.3s;
        }

        .code:focus {
            border-color: #007BFF;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        #verification_heading {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        #verification_subtext {
            font-size: 8px;
            color: #6c757d;
            margin-bottom: 20px;
        }

        .note {
            font-size: 14px;
            color: #6c757d;
            background-color: lightgray;
            padding: 10px;
        }